modules = ["nodejs-20"]
run = "npm run start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Start StockFlow App"

[[workflows.workflow]]
name = "Start StockFlow App"
author = 45981003
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[ports]]
localPort = 8081
externalPort = 80
